<a href="https://colab.research.google.com/github/kayiwa/SBU_Data_Mining/blob/main/francis_kayiwa_assignment_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# yank and paste from tutorial
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/kayiwa/SBU_Data_Mining/main/data.csv")
data.head(10)

                                           url label
0                       diaryofagameaddict.com   bad
1                             espdesign.com.au   bad
2                           iamagameaddict.com   bad
3                                kalantzis.net   bad
4                        slightlyoffcenter.net   bad
5                             toddscarwash.com   bad
6                               tubemoviez.com   bad
7                                       ipl.hk   bad
8  crackspider.us/toolbar/install.php?pack=exe   bad
9                              pos-kupang.com/   bad

In [4]:
# show unique values
data.label.unique()

array(['bad', 'good'], dtype=object)

In [5]:
# import preprocessing from sklearn to convert type and name to numbers that we can work with. 
from sklearn import preprocessing
label_enc = preprocessing.LabelEncoder()
data = data.apply(label_enc.fit_transform)
data

           url  label
0        96673      0
1       128825      0
2       183986      0
3       203520      0
4       324999      0
...        ...    ...
420459    5109      0
420460   32420      0
420461   32421      0
420462   32429      0
420463   32425      0

[420464 rows x 2 columns]

In [6]:
# show modified unique values
data.label.unique()

array([0, 1])

In [20]:
# define X and y
X_lr = data[['url']]
y_lr = data['label']

In [39]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_lr_train, X_lr_test, y_lr_train, y_lr_test = train_test_split(X_lr, y_lr, random_state=0)

In [40]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_lr_train, y_lr_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
# make class predictions for the testing set
y_pred_log_reg = logreg.predict(X_lr_test)

Find accuracy of logistic regression

In [42]:
# calculate logistic regression accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_lr_test, y_pred_log_reg))

0.8194946535256288

In [25]:
# define X and y
X_dt = data[['url']]
y_dt = data['label']

In [43]:
# Split dataset into training set and test set for decision tree
X_dt_train, X_dt_test, y_dt_train, y_dt_test = train_test_split(X_dt, y_dt, test_size=0.3, random_state=1)

In [46]:
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred_dt = clf.predict(X_dt_test)

Find accuracy of decision tree

In [47]:
# calculate decision tree accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_dt_test, y_pred_dt))

0.9725622324401458

In [29]:
# define X and y
X_kn = data[['url']]
y_kn = data['label']

In [48]:
# Split dataset into training set and test set for kneighbors
X_kn_train, X_kn_test, y_kn_train, y_kn_test = train_test_split(X_kn, y_kn, test_size=0.3, random_state=1)

In [31]:
from sklearn.neighbors import KNeighborsClassifier

kmodel = KNeighborsClassifier(n_neighbors=3)

# Train the model using the training sets
kmodel = kmodel.fit(X_train,y_train)

#Predict Output
y_pred_kmodel = kmodel.predict(X_kn_test)

In [49]:
# calculate kmodel accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_kn_test, y_pred_kmodel))

0.9068733153638814

In [50]:
# define X and y
X_rf = data[['url']]
y_rf = data['label']

In [52]:
# Split dataset into training set and test set for random forest
X_rf_train, X_rf_test, y_rf_train, y_rf_test = train_test_split(X_rf, y_rf, test_size=0.3)

In [53]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier

clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred_rand_for = clf.predict(X_rf_test)

In [54]:
# calculate random forest  accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_rf_test, y_pred_rand_for))

0.9720548596797209

Null accuracy test for all models. This is the accuracy that could be achieved by always predicting the most frequent class.

In [58]:
# examine the class distribution of the testing set for logistic regression
y_lr_test.value_counts()

1    86142
0    18974
Name: label, dtype: int64

In [59]:
# examine the class distribution of the testing set for decision tree
y_dt_test.value_counts()

1    103362
0     22778
Name: label, dtype: int64

In [60]:
# examine the class distribution of the testing set for knearest
y_kn_test.value_counts()

1    103362
0     22778
Name: label, dtype: int64

In [61]:
# examine the class distribution of the testing set for random forest
y_rf_test.value_counts()

1    103599
0     22541
Name: label, dtype: int64

Calculate percent of 1s in the models

In [62]:
# calculate the percentage of ones in logistic regression
y_lr_test.mean()

0.8194946535256288

In [63]:
# calculate the percentage of ones in decision tree
y_dt_test.mean()

0.8194228634850167

In [64]:
# calculate the percentage of ones in k nearest neighbor
y_kn_test.mean()

0.8194228634850167

In [65]:
# calculate the percentage of ones in random forest
y_rf_test.mean()

0.8213017282384651

Calculate Null Accuracy of Models

In [66]:
# calculate null accuracy for logistic regression
max(y_lr_test.mean(), 1 - y_lr_test.mean())

0.8194946535256288

In [67]:
# calculate null accuracy for decision tree
max(y_dt_test.mean(), 1 - y_dt_test.mean())

0.8194228634850167

In [68]:
# calculate null accuracy for k nearest
max(y_kn_test.mean(), 1 - y_kn_test.mean())

0.8194228634850167

In [69]:
# calculate null accuracy for random forest
max(y_rf_test.mean(), 1 - y_rf_test.mean())

0.8213017282384651